.newUserItem {
  width: 360px;
  display:flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}

.newUserItem > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 800;
  color: #651fac;
}

.newUserItem > input {
  height: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.newUserButton{
    width: 100px;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 190px;
    cursor: pointer;
}
@media screen and (max-width:520px){
  .newUserItem {
    width: 300px;
    display:flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
  }
}
@media screen and (max-width:412px){
  .newUserButton{
    margin-left: 100px;
  }
  .newUserItem {
    width: 240px;
    display:flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 10px;
  }
  .newUserItem > input {
    height: 16px;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
  }
}
@media screen and (max-width:380px){
  .newUserButton{
    margin-left: 80px;
  }
}